[submodule "nlohmann_json"]
	path = nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "sparsehash"]
	path = sparsehash
	url = https://github.com/sparsehash/sparsehash.git
[submodule "ordered-map"]
	path = ordered-map
	url = https://github.com/Tessil/ordered-map.git
