[submodule "nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "sparsehash"]
	path = sparsehash
	url = https://github.com/sparsehash/sparsehash.git
[submodule "ordered-map"]
	path = third_party/ordered-map
	url = https://github.com/Tessil/ordered-map.git
[submodule "ThreadPool"]
	path = ThreadPool
	url = https://github.com/progschj/ThreadPool.git
[submodule "robin-hood-hashing"]
	path = third_party/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "third_party/ThreadPool"]
	path = third_party/ThreadPool
	url = https://github.com/progschj/ThreadPool.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/xxHash"]
	path = third_party/xxHash
	url = https://github.com/Cyan4973/xxHash.git
